div {
border: 1px solid #000;
}

#Header {
Height: 100px;
width: 800px;
margin-right: auto;
margin-left: auto;
background: url(images/banner.png) no-repeat;
color:red;
}

#MainContent {
Width: 800px;
margin-right: auto;
margin-left: auto;
}